
<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
      <h4>About me</h4>
      <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
 
    <div class="sidebar-module">
      <h4>Find me</h4>
      <ol class="list-unstyled social-links">
        <li><a href="https://github.com/lukaszub"><%=fa_icon "github-square"%></a></li>
        <li><a href="https://www.facebook.com/lukasz.zubrzycki2"><%=fa_icon "facebook"%></a></li>
        <li><a href="#"><%=fa_icon "twitter"%></a></li>
      </ol>
    </div>
</div>
