



<div class="row">
   <div class="col-md-6">
	<h1>Contact:</h1>
	<br>
	<p>Dobrzanskie 4/35, ELK 19-300, POLAND</p>

	<h4>Phone</h4>

 	<p><%= number_to_phone " 07854346594"%></p>

	<h4>Email</h4>

	<p><a href="mailto:lukaszub877@gmail.com?subject=PortfolioContact""email me">Email Me</a></p>
  </div>

  <div class="col-md-6">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37680.838468940085!2d22.3249586412581!3d53.824143539269684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e1b97f3761e307%3A0x5341066a14824162!2s19-311+E%C5%82k%2C+Polska!5e0!3m2!1spl!2suk!4v1548586302008" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>