<div class="inner cover">
  <h1 class="cover-heading">Welcome on my Page</h1>
  <p class="lead">Proin pulvinar sagittis dui nec ornare. Integer mollis aliquam nulla a elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet turpis arcu, eu commodo purus mattis vitae. Praesent a metus massa. Vestibulum ac odio est. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %> 
  </p>
</div>


